*{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin: 0;
    text-align: center;
    background: darkorange;
}

header{
    background-color: orange;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    justify-content: space-between;
    box-shadow: 0px 3px 10px 0 darkgray;
}

header p{
    color: white;
    font-size: 18px;
}

.order-button {
    position: relative;
    background-color: orange;
    color: black;
    padding: 20px 30px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 20px;
}

.order-button:hover {
    background-color: orangered;
    color: white;
}

.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 50px;
    padding: 5px;
    background-color: #fff;
}

#search-input {
    flex: 1;
    border: none;
    border-radius: 50px;
    padding: 10px;
    outline: none;
}

#search-button {
    background-color: orange;
    color: black;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
}

#search-button:hover {
    background-color: orangered;
    color: white;
}

.landing {
    position: relative;
    background-image: url('https://flo.health/uploads/media/sulu-1200x630/09/1599-Fast%20food.jpg?v=1-0&inline=1');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #fff;
}

.overlay {
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 36px;
}

p {
    font-size: 20px;
    color: black;
}

#menu-button {
    background-color: orangered;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

#menu-button:hover {
    background-color: red;
    color: white;
}

#cart-button {
    background-color: orangered;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

#cart-button i {
    margin-right: 5px; 
}

#cart-button:hover {
    background-color: red;
    color: white;
}
.separator-line {
    width: 97%;
    height: 2px;
    background-color: black;
    margin: 20px auto; 
    border: none; 
}

.chat-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: orange;
    color: black;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
}

.chat-button:hover {
    background-color: orangered;
    color: white;
}

.top-choices-heading {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
    color: orangered;
}
  
.top-choices-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 20px;
}

.top-choices-menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.top-choices-menu-button {
    background-color: orange;
    color: black;
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 30px;
}

.top-choices-menu-button:hover {
    background-color: orangered;
    color: white;
}

.top-choices-menu-item img {
    width: 250px; 
    height: 250px;
    border: 2px solid #333;
    border-radius: 50%;
    padding: 5px;
}

ul {
    list-style: none;
}

.promos-discounts-heading {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
    color: orangered;
}

.extras {
    display: flex;
    gap: 50px;
}

.extras h2 {
    color: darkred;
    font-size: 18px;
}

.contact-us {
    font-size: 20px;
    color: white;
}

.social-media {
    font-size: 20px;
    color: white;
}

.popup-menu {
    display: none;
    position: absolute;
    top: 70px;
    right: 10px;
    background-color: aqua;
    border: 2px solid black;
    border-radius: 5px;
    padding: 70px;
    z-index: 100;
}
  
.popup-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.popup-menu li {
    margin-bottom: 10px;
}
  
.popup-menu a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.cart-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
    z-index: 100;
    width: 300px;
    text-align: center;
}
  
.cart-popup h2 {
    font-size: 20px;
    margin-bottom: 10px;
}
  
.cart-popup ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.cart-popup li {
    margin-bottom: 10px;
}
  
.cart-popup p {
    font-weight: bold;
}
  
#close-cart {
    background-color: orangered;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
  
#close-cart:hover {
    background-color: red;
    color: white;
}

.chat-box {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: white;
    border-radius: 15px;
    width: 400px;
    z-index: 100;
}
  
.chat-header {
    background-color: orange;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
  
.chat-header h2 {
    margin: 0;
}
  
#close-chat {
    background: transparent;
    border: none;
    color: black;
    cursor: pointer;
}
  
#close-chat:hover {
    text-decoration: underline;
    color: white;
}
  
.chat-messages {
    padding: 10px;
    max-height: 400px;
    overflow-y: scroll;
}
  
#chat-input {
    width: 100%;
    padding: 10px;
    border: none;
    border-top: 1px solid #ccc;
    resize: none;
}
  
#send-message {
    background-color: orange;
    color: black;
    border: none;
    border-radius: 0 0 5px 5px;
    width: 100%;
    padding: 10px;
    cursor: pointer;
}
  
#send-message:hover {
    background-color: orangered;
    color: white;
}
